extends layout
block content
  ul
    li
     a(href="index") Nuova Unità
    li
     a(href="/") Elenco Unità
  each arr in unita
    h1
        a(href = `/unit/${arr.Unit}`) #{arr.Unit}
          br 
          img(src = `/images/${arr.Unit}.png`) 